version: 1
disable_existing_loggers: false

formatters:
  default:
    "()": uvicorn.logging.DefaultFormatter
    fmt: "%(asctime)s | %(levelprefix)s | %(name)s | %(message)s"
    datefmt: "%Y-%m-%d %H:%M:%S"

handlers:
  console:
    class: logging.StreamHandler
    formatter: default
    stream: ext://sys.stdout

loggers:
  app:
    handlers: [console]
    level: DEBUG
    propagate: false

  uvicorn:
    handlers: [console]
    level: INFO
    propagate: false

  uvicorn.error:
    handlers: [console]
    level: INFO
    propagate: false

  uvicorn.access:
    handlers: [console]
    level: INFO
    propagate: false

root:
  level: WARNING
  handlers: [console]
