# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python
name: Foodini
env:
  BACKEND_TEST_COVERAGE_THRESHOLD: 80
  FRONTEND_TEST_COVERAGE_THRESHOLD: 50
  POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
  POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
  POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
  DATABASE_URL: ${{ secrets.DATABASE_URL }}
  API_URL: ${{ secrets.API_URL }}
  FRONTEND_URL: ${{ secrets.FRONTEND_URL }}
  SECRET_KEY: ${{ secrets.SECRET_KEY }}
  PEPPER_KEY: ${{ secrets.PEPPER_KEY }}
  NEW_ACCOUNT_SALT: ${{ secrets.NEW_ACCOUNT_SALT }}
  NEW_PASSWORD_SALT: ${{ secrets.NEW_PASSWORD_SALT }}
  REDIS_HOST: ${{ secrets.REDIS_HOST }}
  REDIS_PORT: ${{ secrets.REDIS_PORT }}
  MAIL_USERNAME: ${{ secrets.MAIL_USERNAME }}
  MAIL_PASSWORD: ${{ secrets.MAIL_PASSWORD }}
  MAIL_FROM: ${{ secrets.MAIL_FROM }}
  MAIL_PORT: ${{ secrets.MAIL_PORT }}
  MAIL_SERVER: ${{ secrets.MAIL_SERVER }}
  MAIL_FROM_NAME: ${{ secrets.MAIL_FROM_NAME }}
  OLLAMA_API_KEY: ${{ secrets.OLLAMA_API_KEY }}


on:
  push:
    branches:
      - '*'

permissions:
  contents: read
jobs:
  pre-commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.10"

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Run pre-commit
        run: pre-commit run --all-files

  backend:
    runs-on: ubuntu-latest
    steps:
      # Python Setup Steps
      - uses: actions/checkout@v4

      - name: Set up Python 3.12.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.10"

      - name: Install UV and test dependencies
        run: |
          python -m pip install --upgrade pip
          pip install uv
          pip install flake8 pytest

      - name: Sync dependencies with UV
        run: |
          cd backend
          uv sync

      - name: Check critical errors with flake8
        run: |
          cd backend
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics --exclude=./.venv

      - name: Full lint with flake8
        run: |
          cd backend
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=120 --statistics --exclude=./.venv

      - name: Test with pytest
        run: |
          cd backend
          coverage run -m pytest

      - name: Backend test coverage
        run: |
          cd scripts 
          chmod +x ./backendTestCoverage.sh
          ./backendTestCoverage.sh ${{ env.BACKEND_TEST_COVERAGE_THRESHOLD }}

  frontend:
    runs-on: ubuntu-latest
    # Flutter Setup Steps
    steps:
      - uses: actions/checkout@v4

      - name: Set up Frontend
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.29.1"

      - name: Build frontend
        run: |
          cd frontend
          flutter pub get
          flutter build web

      - name: Checkstyle frontend
        run: |
          cd frontend
          flutter analyze

      - name: Test frontend
        run: |
          cd frontend
          flutter test --coverage 

      - name: Frontend test coverage
        run: |
          cd scripts 
          chmod +x ./frontendTestCoverage.sh
          ./frontendTestCoverage.sh ${{ env.FRONTEND_TEST_COVERAGE_THRESHOLD }}