# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python
name: Foodini
env:
  BACKEND_TEST_COVERAGE_THRESHOLD: 80
  FRONTEND_TEST_COVERAGE_THRESHOLD: 70
  POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
  POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
  POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
  DATABASE_URL: ${{ secrets.DATABASE_URL }}
  API_URL: ${{ secrets.API_URL }}
  SECRET_KEY: ${{ secrets.SECRET_KEY }}
  PEPPER_KEY: ${{ secrets.PEPPER_KEY }}
  NEW_ACCOUNT_SLAT: ${{ secrets.NEW_ACCOUNT_SLAT }}
  NEW_PASSWORD_SLAT: ${{ secrets.NEW_PASSWORD_SLAT }}
  REDIS_HOST: ${{ secrets.REDIS_HOST }}
  REDIS_PORT: ${{ secrets.REDIS_PORT }}
  MAIL_USERNAME: ${{ secrets.MAIL_USERNAME }}
  MAIL_PASSWORD: ${{ secrets.MAIL_PASSWORD }}
  MAIL_FROM: ${{ secrets.MAIL_FROM }}
  MAIL_PORT: ${{ secrets.MAIL_PORT }}
  MAIL_SERVER: ${{ secrets.MAIL_SERVER }}
  MAIL_FROM_NAME: ${{ secrets.MAIL_FROM_NAME }}


on:
  pull_request:
    branches: [ "*" ]
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
       # Python Setup Steps
      - uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          if [ -f backend/requirements.txt ]; then pip install -r backend/requirements.txt; fi
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Test with pytest
        run: |
          coverage run -m pytest
      - name: Backend test coverage
        run: |
          cd scripts 
          chmod +x ./backendTestCoverage.sh
          ./backendTestCoverage.sh ${{ env.BACKEND_TEST_COVERAGE_THRESHOLD }}
      # Frontend Setup Steps
      - name: Set up Frontend
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.29.1"
      - name: Install Frontend dependencies
        run: |
          cd frontend
          flutter pub get
      - name: Run Frontend tests
        run: |
          cd frontend
          flutter test --coverage 
      - name: Frontend test coverage
        run: |
          cd scripts 
          chmod +x ./frontendTestCoverage.sh
          ./frontendTestCoverage.sh ${{ env.FRONTEND_TEST_COVERAGE_THRESHOLD }}